<section class="todo-section">
  <div *ngIf="!currentTodo" class="todo-form">
    <mat-form-field class="example-full-width">
      <form [formGroup]="createTodoForm">
        <input
          matInput
          placeholder="What needs to be done?"
          formControlName="createTodo"
        />
      </form>
    </mat-form-field>
    <button
      color="primary"
      mat-flat-button
      (click)="createTodo(); createTodoForm.reset()"
      [disabled]="createTodoForm.invalid"
      class="send-button"
    >
      send
    </button>
  </div>

  <div *ngIf="currentTodo" class="todo">
    <div class="todo__container">
      <div class="checkbox-container">
        <mat-checkbox
          class="checkbox-container__checkbox"
          [checked]="currentTodo.isCompleted"
          (change)="editTodo(true)"
        >
          <p
            *ngIf="isOpened === false"
            [class.text-decoration]="currentTodo.isCompleted"
            class="todo-title"
          >
            {{ currentTodo.title }}
          </p>
        </mat-checkbox>

        <div *ngIf="isOpened === true">
          <mat-form-field class="example-full-width">
            <input
              class="edit-todo-form"
              matInput
              value="{{ currentTodo.title }}"
              [formControl]="editTodoForm"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="todo-functional">
        <button mat-flat-button *ngIf="!isOpened" (click)="isOpened = true">
          edit
        </button>

        <button
          *ngIf="isOpened"
          mat-flat-button
          (click)="editTodo(false)"
          [disabled]="editTodoForm.invalid"
        >
          send
        </button>

        <button mat-flat-button (click)="deleteTodo()">delete</button>
      </div>
    </div>
  </div>
</section>
